In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style='whitegrid', palette='muted', font_scale=1.5)

# Importing Data

In [2]:
# Importing data from flat file - CSV
# Creating Pandas DataFrame from CSV
df = pd.read_csv('acquisitions_update_2021.csv')

In [3]:
# Quick representation of data, ensuring all Columns and data are present at beginning of DataFrame
df.head()

,ID,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
0,1,Apple,1988,Mar,Network Innovations,Software,-,-,-,-
1,2,Apple,1988,Jun,Orion Network Systems,Computer Software,-,-,-,-
2,3,Apple,1988,Jun,Styleware,Computer software,-,-,-,-
3,4,Apple,1988,Jul,Nashoba Systems,Computer software,-,-,-,-
4,5,Apple,1989,Jan,Coral Software,Computer software,-,-,-,-

In [4]:
# Quick representation of data, ensuring all Columns and data are present at end of DataFrame
df.tail()

,ID,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
1450,1451,Citrix,2015,Apr,Grasshopper,Telephone services,United States,-,-,"GoToMeeting, GoToTraining, GoToWebinar, ShareF..."
1451,1452,Citrix,2016,Sep,Norskale,UEM and application performance optimization,France,-,-,"XenApp, XenDesktop"
1452,1453,Citrix,2017,Jan,Unidesk,-,United States,-,-,"XenApp, XenDesktop"
1453,1454,Citrix,2018,Feb,Cedexis,Intelligent traffic management,France,-,-,Citrix ITM
1454,1455,Citrix,2021,Mar,Wrike,Project management,United States,-,-,Citrix Workspace

In [5]:
# DataFrame information - 10 Columns, 1455 Rows
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1455 non-null   int64
 1   Parent Company     1455 non-null   object
 2   Acquisition Year   1455 non-null   object
 3   Acquisition Month  1455 non-null   object
 4   Acquired Company   1455 non-null   object
 5   Business           1455 non-null   object
 6   Country            1455 non-null   object
 7   Acquisition Price  1455 non-null   object
 8   Category           1455 non-null   object
 9   Derived Products   1455 non-null   object
dtypes: int64(1), object(9)
memory usage: 113.8+ KB

# Preperation

In [6]:
# Sorting Data by Parent Company in alphabetical order, and by the most recent acquisitions
df = df.sort_values(by=["Parent Company", "Acquisition Year"], ascending = [True, False])
df.head(10)

,ID,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
1255,1256,Adobe,2020,Nov,Workfront,-,-,1500000000,-,-
1254,1255,Adobe,2019,Jan,Allegorithmic,-,-,-,-,-
1250,1251,Adobe,2018,Apr,Sayspring,-,-,-,-,-
1251,1252,Adobe,2018,Apr,Uru,-,-,-,-,-
1252,1253,Adobe,2018,May,Magento,-,-,1680000000,-,-
1253,1254,Adobe,2018,Sep,Marketo,-,-,4750000000,-,-
1248,1249,Adobe,2016,May,Livefyre,-,-,-,-,-
1249,1250,Adobe,2016,Nov,TubeMogul,-,-,540000000,-,-
1246,1247,Adobe,2015,Jan,Fotolia,-,-,800000000,-,-
1247,1248,Adobe,2015,Jun,Mixamo,-,-,-,-,-

In [7]:
# Checking for duplicates: 1455 False = 1455 original rows, therefore no need to drop duplicates
df.duplicated(subset=['Acquired Company', "ID"]).value_counts()

False    1455
dtype: int64

In [8]:
# Further way of showing dropping of duplicates, with the resulting "test" dataframe having an equal number of rows to original DataFrame, therefore no duplicates were dropped
test = df.drop_duplicates(subset=['Acquired Company', "ID"])
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1455 entries, 1255 to 124
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1455 non-null   int64
 1   Parent Company     1455 non-null   object
 2   Acquisition Year   1455 non-null   object
 3   Acquisition Month  1455 non-null   object
 4   Acquired Company   1455 non-null   object
 5   Business           1455 non-null   object
 6   Country            1455 non-null   object
 7   Acquisition Price  1455 non-null   object
 8   Category           1455 non-null   object
 9   Derived Products   1455 non-null   object
dtypes: int64(1), object(9)
memory usage: 125.0+ KB

In [9]:
# Setting ID as index, As I have confirmed each value for ID is unique
df = df.set_index("ID")

In [10]:
# Replacing missing Values 
# Chose this method as there was only 26% acquisition prices present - therefore mean would not be an accurate fill, also replaced both "-" and "undisclosed" with 0 for consistency 
# Also allowing me to replace undisclosed with ease as it is not NaN
df = df.replace("-", 0)
df = df.replace("undisclosed", 0)
df.head(3)

,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
ID,,,,,,,,,
1256,Adobe,2020,Nov,Workfront,0,0,1500000000,0,0
1255,Adobe,2019,Jan,Allegorithmic,0,0,0,0,0
1251,Adobe,2018,Apr,Sayspring,0,0,0,0,0

In [11]:
df.describe()

,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
count,1455,1455,1455,1455,1455,1455,1455,1455,1455
unique,14,47,13,1452,865,26,228,10,236
top,Microsoft,2014,Jun,Magento,0,0,0,0,0
freq,258,100,148,2,274,1114,1072,1445,1052

In [12]:
# Example of Grouping by business, using new DataFrame as original DataFrame has already been Sorted as desired for analysis
df2 = df.groupby("Business")
df2.first()
# Displaying the Software group
df2.get_group("Software")

,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
ID,,,,,,,,,
56,Apple,2013,Dec,Catch.com,Software,0,0,0,0
25,Apple,2006,Oct,Silicon Color,Software,0,0,0,0
26,Apple,2006,Dec,Proximity,Software,0,0,0,0
23,Apple,2005,Mar,SchemaSoft,Software,0,0,0,0
11,Apple,2000,Apr,Astarte-DVD Authoring Software,Software,0,0,0,0
12,Apple,2000,0,SoundJam MP,Software,0,0,0,0
8,Apple,1999,Jan,Xemplar Education,Software,0,4926000,0,0
1,Apple,1988,Mar,Network Innovations,Software,0,0,0,0
935,Blackberry,2009,Jan,Chalk Media,Software,0,23125000,0,0
928,Blackberry,2001,Nov,Plazmic Inc.,Software,0,0,0,0
1034,Ibm,2003,May,Think Dynamics,Software,Canada,0,0,0
1035,Ibm,2003,Jul,Information Laboratory,Software,United States,0,0,0
1036,Ibm,2003,Jul,Aptrix,Software,Australia,0,0,0
1025,Ibm,2002,Jan,"CrossWorlds Software, Inc.",Software,United States,129000000,0,0
1030,Ibm,2002,Oct,Access360,Software,United States,0,0,0
923,Microsoft,2021,Jul,Suplari,Software,0,0,0,0
841,Microsoft,2014,Aug,Inception Mobile Inc.,Software,0,0,0,0
819,Microsoft,2011,Jun,Prodiance,Software,0,0,0,0
813,Microsoft,2009,Sep,Interactive Supercomputing,Software,0,0,0,0
814,Microsoft,2009,Dec,Opalis Software,Software,0,0,0,0
794,Microsoft,2008,Jan,Calista Technologies,Software,0,0,0,0
795,Microsoft,2008,Feb,Caligari Corporation,Software,0,0,0,0
796,Microsoft,2008,Feb,YaData,Software,0,0,0,0
803,Microsoft,2008,May,Kidaro,Software,0,0,0,0
804,Microsoft,2008,Jun,Quadreon,Software,0,0,0,0
760,Microsoft,2006,Jan,UMT-Software and IP Assets,Software,0,0,0,0
762,Microsoft,2006,Feb,Seadragon Software,Software,0,0,0,0
763,Microsoft,2006,Mar,Apptimum,Software,0,0,0,0
773,Microsoft,2006,Jul,Winternals Software,Software,0,0,0,0
750,Microsoft,2005,Mar,en'tegrate,Software,0,0,0,0
754,Microsoft,2005,Jun,Sybari Software,Software,0,0,0,0
758,Microsoft,2005,Nov,media-streams.com,Software,0,0,0,0
740,Microsoft,2003,Feb,Connectix,Software,0,0,0,0
745,Microsoft,2003,Aug,3DO Co-High Heat Baseball,Software,0,450000,0,0
734,Microsoft,2002,May,Sales Management Systems,Software,0,0,0,0
728,Microsoft,2001,May,Intellisol International,Software,0,0,0,0
731,Microsoft,2001,Jun,Maximal Innovative Intelligence,Software,0,20000000,0,0
722,Microsoft,2000,Jul,NetGames,Software,0,0,0,0
705,Microsoft,1999,Mar,Numinous Technologies,Software,0,0,0,0
716,Microsoft,1999,Oct,Entropic,Software,0,0,0,0
682,Microsoft,1996,Jan,Vermeer Technologies,Software,0,133000000,0,0
683,Microsoft,1996,Mar,VGA-Animation Software Div,Software,0,0,0,0
684,Microsoft,1996,Mar,Colusa Software,Software,0,0,0,0
687,Microsoft,1996,Jun,eShop Inc.,Software,0,50000000,0,0
689,Microsoft,1996,Nov,Panorama Software Sys-On-Line,Software,0,0,0,0
679,Microsoft,1995,Oct,The Blue Ribbon SoundWorks,Software,0,0,0,0
674,Microsoft,1994,Sep,Altamira Software,Software,0,0,0,0
675,Microsoft,1994,Nov,NextBase,Software,0,0,0,0
676,Microsoft,1994,Nov,One Tree Software,Software,0,0,0,0
671,Microsoft,1991,Mar,Consumers Software,Software,0,0,0,0
1367,Redhat,2008,Jun,Identyx,Software,0,0,0,0
1360,Redhat,2002,Oct,NOCpulse,Software,0,0,0,0

# Analysis

In [13]:
# The percentage of rows that have 0 information in each column
for column in df.columns:
    percentage = (df[column] == 0).mean()
    print(f'{column}: {round(percentage*100, 2)}%')

Parent Company: 0.0%
Acquisition Year: 1.92%
Acquisition Month: 3.99%
Acquired Company: 0.0%
Business: 18.83%
Country: 76.56%
Acquisition Price: 73.68%
Category: 99.31%
Derived Products: 72.3%

In [31]:
# Converting Object to int64 for Acquisition Price Column for calculations
df["Acquisition Price"] = pd.to_numeric(df["Acquisition Price"])
print(df.dtypes)

Parent Company       object
Acquisition Year     object
Acquisition Month    object
Acquired Company     object
Business             object
Country              object
Acquisition Price     int64
Category             object
Derived Products     object
dtype: object

In [36]:
# NumPy functions to gain insights into the amount of money being spent on acquisitions, using the known prices available
print("The total money spent on acquisitions where the price was recorded was: $",df["Acquisition Price"].sum())
print("The highest recorded amount of money spent on a single acquisition was: $",df["Acquisition Price"].max())

# Creating a List of Acquisition Prices for ease of calculations
Prices = df["Acquisition Price"].tolist()
# Removing Acquistion Prices that weren't recorded (0)
Prices = [i for i in Prices if i != 0]
print("The lowest Acquisition Price that was recorded for a Company was: $",min(Prices))

# Python program to get average of a list
def Average(Prices):
    return sum(Prices) / len(Prices)

average = Average(Prices)
print("The average amount of money spent by companys with a recorded acquisition price was: $", round(average, ))

The total money spent on acquisitions where the price was recorded was: $ 519877989500
The highest recorded amount of money spent on a single acquisition was: $ 71300000000
The lowest Acquisition Price that was recorded for a Company was: $ 200000
The average amount of money spent by companys with a recorded acquisition price was: $ 1357383785

In [ ]:
# Which companies have had the highest numbers of acquisitions
companies = df['Parent Company'].value_counts() #getting frequency of Parent Companys occuring
companies_df = companies.to_frame().reset_index() # converting companies series to DataFrame
companies_df = companies_df.rename({'index': 'Parent Company', 'Parent Company': 'Acquisitions'}, axis=1)
plt.figure(figsize=(20,10))
plt.title('Companies with Highest Number of Acquisitions', fontweight="bold")
sns.barplot(x='Parent Company', y='Acquisitions', data=companies_df)

In [ ]:
# User-Defined Custom function for locating an inputed Value in the Parent Company Category
def my_function(Company):
    Company = df.loc[df["Parent Company"] == Company]
    return Company

In [ ]:
# Plotting What types of Business Apple is acquiring most of
Apple = my_function("Apple")
business = Apple['Business'].value_counts()
business_df = business.to_frame().reset_index()
business_df = business_df.rename({'index': 'Business', 'Business': 'Total'}, axis=1)
plt.figure(figsize=(10,15))
plt.title('Apples Most Popular Businesses To Acquire')
sns.barplot(x='Total', y='Business', data=business_df[:15])

In [ ]:
# Plotting What types of Business Microsoft is acquiring most of
Microsoft = my_function("Microsoft")
business2 = Microsoft['Business'].value_counts()
business_df2 = business2.to_frame().reset_index()
business_df2 = business_df2.rename({'index': 'Business', 'Business': 'Total'}, axis=1)
plt.figure(figsize=(10,15))
plt.title('Microsofts Most Popular Businesses To Acquire')
sns.barplot(x='Total', y='Business', data=business_df2[:15])

In [ ]:
business_df2.head()

In [ ]:
# Merging two DataFrames together
business_df.merge(business_df2,how='outer',left_on=['Business','Total'],right_on=['Business','Total'])

In [ ]:
# Concating two DataFrames Together - opting for only the top 5 most popular acquired businesses of both Apple and Microsoft
result = pd.concat([business_df.head(), business_df2.head()], keys=["Apple","Microsoft"])
result.index.names = ["Company","ID"]
result.sort_values("Total").max()
print(result)

In [ ]:
# Barchart displaying the top 5 most popular businesses acquired by both Apple and Microsoft
# Still requires cleaning of BarChart
result.set_index("Business").plot(kind = "bar", stacked = True, color=['steelblue', 'red'])
plt.title('Microsofts and Apples Most Popular Businesses To Acquire')

## Failed attempts at stacked bar chart

In [ ]:
#sns.barplot(data = result, x= "Business", y = "Total", )
#plt.figure(figsize=(15,30))
#plt.show()


#result.transpose().plot("Total",title="Test")

In [ ]:
#fig = plt.figure()

#for frame in [business_df, business_df2]:
   # plt.plot(frame['Total'], frame['Business'])
     #sns.barplot(x="Business", y="Total", 
            #   data=frame)
#g.fig.set_size_inches(15, 8)
   # plt.show()
#plt.xlim(0,20)
#plt.ylim(0,30)
#plt.show()

In [ ]:
#business_df["key"] = "Apple"
#business_df2["Key"] = "Microsoft"
#result = pd.concat([business_df.head(), business_df2.head()], keys=["Apple","Microsoft"])
#DFGroup = result.groupby(["Business", "Key"])
#DFGPlot = DFGroup.sum().unstack('Key').plot(kind='bar')

In [ ]:
#g = sns.barplot(x="Business", y="Total", 
               #data=pd.concat([business_df, business_df2], keys=["Apple","Microsoft"]), fit_reg=True)
#g.fig.set_size_inches(15, 8)
#plt.show()

In [ ]:
# df["Company Stock Value"]

In [ ]:
# import requests
# import yfinance as yf

In [ ]:
# conda install -c ranaroussi yfinance

In [40]:
# Graph to show the average amount of money each company spends on an Acquisition
companies_grouped = df.groupby(["Parent Company"]).mean()
companies_grouped

                Acquisition Price
Parent Company
Adobe                3.208220e+08
Amazon               3.039426e+08
Apple                4.260997e+07
Blackberry           7.559766e+07
Citrix               0.000000e+00
Disney               5.996088e+09
Ebay                 2.282381e+08
Facebook             2.609108e+08
Google               3.468934e+07
Hp                   5.894913e+08
Ibm                  3.860879e+08
Microsoft            3.924886e+08
Redhat               6.766060e+07
Twitter              7.958949e+08